.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
input.ng-touched.ng-invalid {
    border-color: rgb(187, 9, 9);
}

input.ng-valid{
    border-color: rgb(16, 150, 105);
}
.green-icon {
    color: rgb(16, 150, 105);
}

.red-icon {
    color: rgb(187, 9, 9);
}